#video{
    width:1120px;
    height:630px;
    border: none;
}
.schoollife_mainDiv {border:1px solid lightgrey;}
.schoollife_mainDiv img {width:100%;}
.schoollife_mainDiv h5, .schoollife_mainDiv p {margin:20px;}